.produ1 {
	img {
		width: 200px;
		height: 200px;
	}
	margin-bottom: 200px;
}
.produ2 {
	img {
		width: 200px;
		height: 200px;
	}
	margin-bottom: 200px;
}
.produ3 {
	img {
		width: 200px;
		height: 200px;
	}
	margin-bottom: 200px;
}