$color_1: #86a5d9;
$color_2: #fff;
$color_3: #5f4bb6;
$color_4: #5F4BB6;
$background-color_1: #202a25;
$background-color_2: #d0a9da;
$background-color_3: #fff;
$background-color_4: #333;
$background-color_5: #e8eef2;
$border-color_1: #202A25;